<div class="navbar-wrapper">
	<div class="container">
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "navbar-inner">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
             	</button>
				<%= link_to "help.the.chepang", root_path, id: "logo" %>
				<nav class="nav-collapse collapse">
					<ul class = "nav pull-right">
						<li class = "<%= 'active' if current_page?(root_path) %>" ><%= link_to "Home", root_url %></li>
						<li class = "<%= 'active' if current_page?(why_path) %>" ><%= link_to "Why", why_url %></li>
						<li class = "<%= 'active' if current_page?(how_path) %>"><%= link_to "How", how_path %></li>
						<li class = "<%= 'active' if current_page?(donors_path) %>"><%= link_to "Donors", donors_path %></li>
						<li class = "<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
						<li class = "<%= 'active' if current_page?(contact_path) %>"><a href="#Contact" data-toggle="modal">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div> 
</div>
